.pageHeader {
  position: absolute;
  width: 100%;
  height: 120px;
}

.pageNav {
  margin-top: 1rem;
  padding: 0 $std-padding 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.pageLogo {
  width: 180px;
}

.subnav {
  display: flex;
}
