.button {
  @include font-bold;

  align-items: center;
  border: none;
  color: $color__brand;
  display: inline-flex;
  font-size: 12px;
  justify-content: space-between;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  padding: 0.75rem 1rem calc(0.75rem - 2px) 1rem;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }

  &__icon {
    margin-left: 2rem;
    vertical-align: middle;
    padding-bottom: 3px; // TODO: Figure out why this seems to vertically align the caret
  }

  &--dark {
    @include shadowed;
    @include theme-dark;
  }
}
