
$max-width: 1200px;

$std-padding: 2rem;

// COLORS
$color__brand: #1e1e20;
$color__white: #ffffff;

$color-r08: #f26655; // r08
$color-r05: #f6917c; // r05
$color-r01: #fde1d9; // r01

$color-g16: #60c198; // g16
$color-g14: #97cf90; // g14
$color-g12: #d2e8c5; // g12

$color-b06: #00b2e5; // b06
$color-b04: #73cee5; // b04
$color-b01: #d5eef0; // b01

$color-yr68: #f36f21; // yr68
$color-yr65: #faad60; // yr65
$color-yr61: #fddac3; // yr61

$color-c10: #222b32; // c10
$color-c9: #3b464e;  // c9
$color-c8: #525d65;  // c8
$color-c7: #637079;  // c7
$color-c6: #7c8b95;  // c6
$color-c5: #929fa9;  // c5
$color-c4: #a5b3bd;  // c4
$color-c3: #bec9d2;  // c3
$color-c2: #cad6dd;  // c2
$color-c1: #d8e2e7;  // c1
$color-c0: #dde6eb;  // c0
$color-c00: #e4edf1; // c00
