.countBox {
  @include shadowed;

  background: $color-g16;
  color: $color__white;
  padding: 2rem;
  text-align: center;

  &__header {
    font-size: 12px;
  }

  &__count {
    font-size: 3rem;
    font-variant-numeric: tabular-nums slashed-zero;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  }

  &__caption {
    color: $color-g12;
    font-style: italic;
    font-size: 12px;
    margin-top: 1rem;
  }
}
