// Load CSS Reset from NPM
@import "reset-css";

// Load the constants
@import "constants";

// Load the mixins
@import 'mixins';

// Load the BEM styles
@import 'button';
@import 'container';
@import 'layout';
@import 'pageHeader';
@import 'section';
@import 'siteFooter';
@import 'siteHeader';

* {
  box-sizing: border-box;
  line-height: 1.73em;
}

body {
  @include font-body;
  @include font-normal;
  @include theme-light;

  font-size: 16px;
  margin: 0;
}

p {
  margin-bottom: 1em;
}

h1,
h2,
.button {
  @include font-accent;
}

h1 {
  @include font-normal;

  font-size: 2.25rem;
  line-height: 1.5em;
  margin-bottom: 3rem;
}

strong {
  @include font-bold;
}

h2 {
  @include font-bold

  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

a {
  @include font-bold

  outline: none;
  text-decoration: none;
  color: steelblue;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }
}

// TODO: Break this out somewhere
.count-box {
  @include shadowed;

  background: #256487;
  color: #B9E1D6;
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
}
