.section {
  position: relative;

  &--dark {
    background-color: $color__brand;
    color: white;
  }

  /*
  &__pane {
    padding: 10rem 0;

    &--tight {
      padding: 4rem 0;
    }
  }
  */
}
