<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Specific - Custom IoT Electronics</title>
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7115052/6741812/css/fonts.css" />

    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

  <body>
    {{ block "main" . }}
    {{ end }}
  </body>
</html>
