{{ if not .IsHome }}
<footer class='siteFooter'>
  <div class='section__container layout__grid layout__grid--3-3-3-3'>
    <div class='section__pane section__pane--tight'>
      <a href='/home'><img src='/images/logo-light.svg' alt='logo' width='180' /></a>
    </div>

    <div class='section__pane section__pane--tight'>
      <h2>Electronics</h2>

      <ul>
        <li><a class='siteFooter__link' href='/overview'>Overview</a></li>
        <li><a class='siteFooter__link' href='/how-it-works'>How It Works</a></li>
      </ul>
    </div>

    <div class='section__pane section__pane--tight'>
      <h2>Solutions</h2>

      <ul>
        <li><a class='siteFooter__link' href='/supply-chain'>Supply Chain</a></li>
      </ul>
    </div>

    <div class='section__pane section__pane--tight'>
      <h2>Legal</h2>

      <ul>
        <li><a class='siteFooter__link' href='/privacy'>Privacy Policy</a></li>
      </ul>
    </div>
  </div>

  <div style='text-align: center;'>
    &copy; 2019 - Specific, Inc.
  </div>
</footer>
{{ end }}
