{{ define "main" }}
  <header class='pageHeader pageHeader--text'>
    <div class='container'>
      <h1>How It Works</h1>
    </div>
  </header>

  <section class='section'>
    <div class='container'>
      <p>
        Specific is a service for specifying, configuring, and purchasing custom electronics in quantities from one to thousands.
        You can use it with or without electrical engineering expertice. Let's explore how our system works and how it can help
        you efficiently create an amazing device.
      </p>
    </div>
  </header>

  <section class='section'>
    <div class='container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h2>01 It Starts With Your Requirements</h2>

        <p>
          Building with an off-the-shelf board is for chumps. You are the domain expert.
          You know what features you want in your board and you know that anything additional
          will just increase the cost, complexity, and power consumption.
        </p>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        Large
      </div>
    </div>
  </section>

  {{ partial "flowLine" . }}

  <section class='section'>
    <div class='container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h2>02 Select Your Microcontroller</h2>

        <p>
          All boards start with the microcontroller. Typically, the choice comes down to the intersection
          of processing power, power consumption, onboard radios (you can always add more though), and what
          operating system you want to use. You can select a microcontroller from our catalog or use our
          wizard to find the perfect one for your project.
        </p>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        Large
      </div>
    </div>
  </section>

  {{ partial "flowLine" (dict "dir" "lr") }}

  <section class='section'>
    <div class='container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h2>03 Add Features</h2>

        <p>
          Features add additional functionality to your board. Our catalog of features includes sensors, actuators,
          storage devices, outputs, radios, and attachment points for adding your own circuitry. Our catalog grows constantly.
        </p>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        Large
      </div>
    </div>
  </section>

  {{ partial "flowLine" (dict "dir" "ll") }}

  <section class='section'>
    <div class='container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h2>04 Configure The Board</h2>

        <p>
          Add accessories, like power supplies, antannaes, or SD cards. If you've developed your firmware already,
          upload it here and we will flash it to each board during manufacturing.
        </p>

        <p>
          When this step is complete, you will have created a specification for your exact board.
        </p>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        Large
      </div>
    </div>
  </section>

  {{ partial "flowLine" (dict "dir" "rr") }}

  <section class='section'>
    <div class='container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h2>05 Place Your Order</h2>

        <p>
          You can order small quantities for prototyping or large volumes for production. Return any time to buy additional
          units, to modify an existing board, or to create a new board.
        </p>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        Large
      </div>
    </div>
  </section>

  {{ partial "flowLine" . }}

  <section class='section'>
    <div class='container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h2>06 We Create Your Board</h2>

        <p>
          Your microcontroller and features get combined into a single circuit board and set of manufacturing files. We
          also generate a custom data sheet, user's manual, and sample application for your board.
        </p>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        Large
      </div>
    </div>
  </section>

  {{ partial "flowLine" . }}

  <section class='section'>
    <div class='container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h2>07 Manufacturing</h2>

        <p>
          The manufacturing files for your electronics get sent directly to our factory where your boards get assembled
          and tested. If you uploaded firmware, it will get flashed to your device.
        </p>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        Large
      </div>
    </div>
  </section>

  {{ partial "flowLine" . }}

  <section class='section'>
    <div class='container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h2>08 Delivery</h2>

        <p>
          Within seven business days of placing your order, your boards leave our factory and are shipped directly to your location.
          We can send them to locations in the US or overseas using a variety of shipping carriers and delivery speeds.
        </p>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        Large
      </div>
    </div>
  </section>

  {{ partial "flowLine" . }}

  <section class='section'>
    <div class='container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h2>09 Complete</h2>

        <p>
          Your order is now complete. You can return at any time to order additional quantities or to make modifications to your board.
        </p>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        Large
      </div>
    </div>
  </section>
{{ end }}
