{{ define "main" }}
<header class='pageHeader pageHeader--text'>
  <div class='container'>
    <h1>Colors</h1>
  </div>
</header>

<style>
.swatch {
  width: 100px;
  height: 100px;
  margin-bottom: 0.5rem;
}
</style>

<section class='section'>
  <div class='container' style='display: grid; grid-template-columns: repeat(6, 1fr); grid-gap: 2rem; margin-top: 4rem;'>
    <div>
      <h2>basic</h2>
      <div class='swatch' style='background: #1e1e20;'></div>
      <div class='swatch' style='background: #ffffff; border: 1px solid #1e1e20;'></div>
    </div>

    <div>
      <h2>Red</h2>
      <div class='swatch' style='background: #f26655;'></div>
      <div class='swatch' style='background: #f6917c;'></div>
      <div class='swatch' style='background: #fde1d9;'></div>
    </div>

    <div>
      <h2>Green</h2>
      <div class='swatch' style='background: #60c198;'></div>
      <div class='swatch' style='background: #97cf90;'></div>
      <div class='swatch' style='background: #d2e8c5;'></div>
    </div>

    <div>
      <h2>Blue</h2>
      <div class='swatch' style='background: #00b2e5;'></div>
      <div class='swatch' style='background: #73cee5;'></div>
      <div class='swatch' style='background: #d5eef0;'></div>
    </div>

    <div>
      <h2>Orange</h2>
      <div class='swatch' style='background: #f36f21;'></div>
      <div class='swatch' style='background: #faad60;'></div>
      <div class='swatch' style='background: #fddac3;'></div>
    </div>

    <div>
      <h2>Gray</h2>
      <div class='swatch' style='background: #222b32;'></div>
      <div class='swatch' style='background: #3b464e;'></div>
      <div class='swatch' style='background: #525d65;'></div>
      <div class='swatch' style='background: #637079;'></div>
      <div class='swatch' style='background: #7c8b95;'></div>
      <div class='swatch' style='background: #929fa9;'></div>
      <div class='swatch' style='background: #a5b3bd;'></div>
      <div class='swatch' style='background: #bec9d2;'></div>
      <div class='swatch' style='background: #cad6dd;'></div>
      <div class='swatch' style='background: #d8e2e7;'></div>
      <div class='swatch' style='background: #dde6eb;'></div>
      <div class='swatch' style='background: #e4edf1;'></div>
    </div>
  </div>
</section>

{{ end }}
