{{ define "main" }}
  <header class='hero'>
    <div class='section__container'> <!-- GROSS -->
      <h1 style='margin-top: 2rem; grid-row: 1;'><strong>Custom</strong> IoT Electronics</h1>

      <div class='layout__grid layout__grid--4-s-7'>
        <div style='grid-area: sm;'>
          <div class='hero__tagline'>
            <p>
              Specify and configure your own,
              custom IoT electronics. We engineer,
              manufacture, and ship it to you
              within <strong>seven business days.</strong>
            </p>
          </div>

          {{ partial "button" (dict "scheme" "dark" "label" "Request<br />Access" "to" "/access" "caret" true) }}
        </div>

        <div class='carousel' style='grid-area: lg;'>
          <img src='/images/gerber.png' style='width: 100%;' data-pin-nopin='true' />
        </div>
      </div>
    </div>
  </header>

  <section class='section' style='background: #EAE9E7; background: #1e1e20; color: white;'>
    <div class='section__container layout__grid layout__grid--5-s-6'>
      <div style='grid-area: sm; display: flex; justify-content: center; align-items: center;'>
        <img src='/images/legion.png' style='width: 100%; margin: 4rem 0;' />
      </div>

      <div class='section__pane--tight' style='grid-area: lg; align-self: center;'>
        <h1>Prototype To Production</h1>

        <p>
          Specific offers the only electronics solution that can be delivered fast enough for prototyping and
          in large volume for production.

          <br />
          <br />

          Build your prototype on the same electronics you will use at volume.
          Avoid costly re-engineering and development disruptions.
        </p>
      </div>
    </div>
  </section>

  <section class='section'>
    <div class='section__container layout__grid layout__grid--5-s-6'>
      <div class='section__pane' style='grid-area: sm;'>
        <h1>Custom Electronics</h1>

        <p>
          <strong>CHANGE THIS</strong>
          Build your prototype on the same
          electronics you will use at volume.
          Avoid costly re-engineering and development
          disruptions.
        </p>

        <div class='count-box'>
          <h2 style='font-size: 12px;'>Unique Manufacturable Devices</h2>
          <br />
          <div style='font-size: 3rem;'>10,272,278,170</div>
          <br />
          <div style='font-style: italic; font-size: 12px; opacity: 0.75;'>Including one that is specifically for you.</div>
        </div>
      </div>

      <div class='section__pane' style='grid-area: lg;'>
        <h2>Modular</h2>
        <p>
          Use our online tools to design your own board. Include only what you want and none of what you don't. Select from our design library of features or extend your board with your own custom circuitry. </p>

        <br />
        <br />
        <br />

        <h2>Extensible</h2>
        <p>
          Need a feature we haven't anticipated? Want to protect proprietary IP? Specific electronics are open and extensible. Tap into the board's power and data buses to add yor own extensions, daughter cards, or connected devices. </p>

        <br />
        <br />
        <br />

        <h2>EE Optional</h2>
        <p>
          You don't need in-house electrical engineering experience to build electronics with Specific. We've built it to be used by any developer or technical staff member.</p>
      </div>
    </div>
  </section>

  <!--
  <section class='section section--dark' style='background: linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);'>
  -->
  <section class='section' style='background: #EAE9E7;'>
    <div class='section__container layout__grid layout__grid--5-s-6'>
      <div style='grid-area: sm; display: flex; justify-content: center; align-items: center;'>
        <img src='/images/helmet.svg' style='height: 300px; margin: 4rem 0;' />
      </div>

      <div class='section__pane--tight' style='grid-area: lg; align-self: center;'>
        <h1>Security Comes Standard</h1>

        <p>
          <strong>CHANGE THIS</strong> Specific offers the only hardware solution that can be delivered fast enough for prototyping and
          in large enough volumes for production. Build your prototype on the same
          electronics you will use at volume.
          Avoid costly re-engineering and development
          disruptions.
        </p>
      </div>
    </div>
  </section>

  <section class='section'>
    <div class='section__container'>
      <div class='section__pane'>
        <header>
          <h1>Managed Supply Chain</h1>
        </header>

        <div class='layout__grid layout__grid--4-4-4'>
          <div>
            <div style='padding: 1rem 0; color: #7DC579; margin-bottom: 2rem; display: flex; align-items: baseline;'>
              <span style='font-size: 72px; font-weight: 500;'>7</span>
              <span>days</span>
            </div>

            <div>
              <h2>Rapid Delivery</h2>
              <p>
                We ship your custom hardware within seven business days. Iterate faster when prototyping. Tie up less money in inventory with Just-In-Time ordering.
              </p>
            </div>
          </div>

          <div>
            <div style='padding: 1rem 0; color: #7DC579; margin-bottom: 2rem; display: flex; align-items: baseline;'>
              <span style='font-size: 72px; font-weight: 500;'>5</span>
              <span>years</span>
            </div>

            <div>
              <h2>Long-Term Availability</h2>
              <p>
                Your custom electronics are available for a minimum of five years after your first purchase. We manage the suply chain so you don't need to. Avoid unexpected re-engineering and re-certification.
              </p>
            </div>
          </div>

          <div>
            <div style='padding: 1rem 0; color: #7DC579; margin-bottom: 2rem; display: flex; align-items: baseline;'>
              <span style='font-size: 72px; font-weight: 500;'>$</span>
              <span style='font-size: 48px; font-weight: 500;'>$</span>
              <span style='font-size: 24px; font-weight: 500;'>$</span>
            </div>

            <div>
              <h2>Cost Optimized</h2>
              <p>
                We buy components in volume and pass on the savings. We are able to buy in volumes greater than any one of our customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
